# Ignore the virtual environment directory
sddpr1/
.sddpr1/

# Ignore macOS system files
.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files with sensitive information
#.env

# Ignore any IDE project files (e.g., for VS Code)
.vscode/
